.sidebar-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 17%;
  justify-content: space-between;
  font-family: 'roboto';
}

.sidebar-container-dark {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 17%;
  justify-content: space-between;
  font-family: 'roboto';
  background-color: #212121;
  color: #ffffff;
}
@media (max-width: 767px) {
  .sidebar-container {
    display: none;
  }
  .sidebar-container-dark {
    display: none;
  }
}
.sidebar-options-container {
  list-style: none;
  padding: 0px;
}

.contact-us-logos-container {
  display: flex;
}
.contact-us-logo {
  width: 15%;
  margin-right: 5px;
}

.contact-us-description {
  width: 80%;
}
