.trending-bg-container {
  height: 100vh;
  max-width: 1250px;
  margin: auto;
  font-family: 'roboto';
}

.trending-content-and-side-navbar-container {
  display: flex;
  height: 90vh;
  overflow-y: auto;
}

.trending-content-container {
  width: 100%;
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.trending-banner-container {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 15px;
}

.trending-fire-logo {
  font-size: 40px;
  background-color: #d7dfe9;
  margin-left: 30px;
  margin-right: 15px;
  padding: 15px;
  color: #ff0b37;
  border-radius: 40px;
}

.trending-video-list-container {
  padding: 15px;
}
