.home-bg-container {
  height: 100vh;
  max-width: 1250px;
  margin: auto;
  font-family: 'roboto';
}
.home-bg-content-container {
  height: 90vh;
  display: flex;
  overflow-y: auto;
}

.home-bg-videos-content-container {
  width: 83%;
  background-color: #f9f9f9;
  overflow: auto;
}

.home-bg-videos-content-container-dark {
  width: 83%;
  background-color: #181818;
  overflow: auto;
  color: #ffffff;
}

.input-search-field {
  background-color: transparent;
  border-width: 1px;
  border-color: #94a3b8;
}

@media (max-width: 575px) {
  .home-bg-videos-content-container {
    width: 100%;
  }
  .home-bg-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .input-search-container {
    min-width: 350px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home-bg-videos-content-container {
    width: 100%;
  }
  .home-bg-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .input-search-container {
    min-width: 400px;
  }
}

.banner-section {
  height: 25vh;
  font-family: 'roboto';
  padding: 15px;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
}

.banner-logo {
  width: 10%;
}

.banner-btn {
  background-color: transparent;
  padding: 5px;
  border: 1px solid #0f0f0f;
}

.home-videos-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input-search-container {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 5px;
  background-color: transparent;
}

.input-search-field {
  height: 25px;
  flex-grow: 1;
}

.search-btn {
  width: 50px;
  border-color: #94a3b8;
}

.video-list-container {
  list-style-type: none;
  padding: 0px;
}

.videos-list-bg-container {
  display: flex;
  flex-wrap: wrap;
}

.loader-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failure-image {
  width: 50%;
}

.failure-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-views-image {
  margin-top: 20px;
  width: 40%;
}

.no-videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
