.navbar-options-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.website-logo-btn {
  background-color: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
  max-width: 50%;
}

.header-logo {
  width: 100%;
  height: 100%;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10vh;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-bar-container-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 10vh;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #212121;
  color: #ffffff;
}
.header-profile-logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.logout-btn {
  cursor: pointer;
  border: 1px solid #3b82f6;
  border-radius: 5px;
  background-color: transparent;
  color: #3b82f6;
  width: 100px;
  height: 30px;
}
.logout-btn-dark {
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  width: 100px;
  height: 30px;
}
@media (max-width: 767px) {
  .logout-btn {
    display: none;
  }
  .logout-btn-dark {
    display: none;
  }
  .navbar-options-container {
    min-width: 35%;
  }
  .header-profile-logo {
    display: none;
  }
  .theme-icon {
    font-size: 23px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .theme-icon-dark {
    font-size: 23px;
    border: none;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .navbar-options-container {
    min-width: 30%;
  }
  .theme-icon {
    border: none;
    background-color: transparent;
    font-size: 32px;
    cursor: pointer;
  }
  .theme-icon-dark {
    border: none;
    color: #ffffff;
    background-color: transparent;
    font-size: 32px;
    cursor: pointer;
  }
  .three-bars-icon {
    display: none;
  }
  .logout-icon {
    display: none;
  }
  .three-bars-btn {
    display: none;
  }
}

.three-bars-icon {
  font-size: 23px;
}
.three-bars-icon-dark {
  font-size: 23px;
  color: #ffffff;
}
.logout-icon {
  font-size: 23px;
}
.popup-btn-cancel {
  margin-right: 15px;
  padding: 10px;
}
.popup-btn-confirm {
  padding: 10px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
}

.popup-container {
  background-color: #ffffff;
  max-width: 40vw;
  min-height: 20vh;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 5px 0.5px #888888;
}

.popup-container-logout-btn {
  background-color: #ffffff;
  max-width: 40vw;
  min-height: 20vh;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 5px 0.5px #888888;
}
.three-bars-btn {
  background-color: transparent;
  border: none;
}
.menu-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.menu-btn {
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
