.video-item-details-bg-container {
  height: 100vh;
  max-width: 1250px;
  margin: auto;
}
.video-item-details-sidebar-content-container {
  display: flex;
  height: 90vh;
}
.video-item-content-container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video-item-content-container-dark {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
  color: #ffffff;
}

.reaction-container {
  display: flex;
  justify-content: space-between;
}

.reactions {
  display: flex;
  align-items: center;
}

.details-container {
  display: flex;
  padding: 15px;
}

.profile-logo-image {
  width: 40px;
  align-self: flex-start;
  margin-right: 15px;
}

.like-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.reaction-btn {
  background-color: transparent;
  color: #64748b;
  border: none;
  cursor: pointer;
}

.reaction-btn-clicked {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #2563eb;
}
