.video-item-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 575px) {
  .video-item-container {
    width: 100%;
  }
  .video-card-link {
    width: 100%;
    margin: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .video-card-link {
    width: 45%;
    margin: 10px;
  }
  .video-item-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .video-card-link {
    width: 30%;
    margin: 10px;
  }
}
.thumbnail-image {
  width: 100%;
}

.video-item-text-container {
  padding: 10px;
  display: flex;
  font-family: 'roboto';
}

.profile-image-icon {
  width: 20%;
  align-self: flex-start;
}

.views-count-container {
  display: flex;
  align-items: center;
}

.video-card-link {
  text-decoration: none;
}
