.video-item-container {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.thumbnail-image {
  width: 100%;
}

.video-item-text-container {
  padding: 10px;
  display: flex;
  font-family: 'roboto';
}

.profile-image-icon {
  width: 20%;
  align-self: flex-start;
}

.views-count-container {
  display: flex;
  align-items: center;
}
